
(IGNORE THIS FOLDER)/assets/audio/assistantChime.wav
(IGNORE THIS FOLDER)/.vscode/launch.json
(IGNORE THIS FOLDER)/.vscode/settings.json
(IGNORE THIS FOLDER)/assets/audio/alertHard.wav
(IGNORE THIS FOLDER)/assets/audio/alertSoft.wav
(IGNORE THIS FOLDER)/assets/css/styles.css
(IGNORE THIS FOLDER)/assets/css/theme.css
(IGNORE THIS FOLDER)/assets/img/breadboard.png
(IGNORE THIS FOLDER)/assets/img/esp32.png
(IGNORE THIS FOLDER)/assets/img/fsr.png
(IGNORE THIS FOLDER)/assets/img/kabel-jumper.png
(IGNORE THIS FOLDER)/assets/img/logo-sitsense.png
(IGNORE THIS FOLDER)/assets/img/posture-silhouette.svg
(IGNORE THIS FOLDER)/assets/img/README.md
(IGNORE THIS FOLDER)/assets/img/sensor-ultrasonik.png
(IGNORE THIS FOLDER)/assets/img/silhouette-white.svg
(IGNORE THIS FOLDER)/assets/js/ai-gemini.js
(IGNORE THIS FOLDER)/assets/js/alerts.js
(IGNORE THIS FOLDER)/assets/js/app.js
(IGNORE THIS FOLDER)/assets/js/auth.js
(IGNORE THIS FOLDER)/assets/js/charts.js
(IGNORE THIS FOLDER)/assets/js/history.js
(IGNORE THIS FOLDER)/assets/js/image-loader.js
(IGNORE THIS FOLDER)/assets/js/modal-detail.js
(IGNORE THIS FOLDER)/assets/js/posture-visual.js
(IGNORE THIS FOLDER)/assets/js/settings.js
(IGNORE THIS FOLDER)/assets/js/sidebar.js
(IGNORE THIS FOLDER)/assets/js/tts-google.js
(IGNORE THIS FOLDER)/assets/js/ui.js
(IGNORE THIS FOLDER)/assets/js/welcome.js
(IGNORE THIS FOLDER)/auth/daftar.html
(IGNORE THIS FOLDER)/auth/login.html
(IGNORE THIS FOLDER)/auth/masuk.html
(IGNORE THIS FOLDER)/auth/register.html
(IGNORE THIS FOLDER)/components/card-status.html
(IGNORE THIS FOLDER)/components/footer.html
(IGNORE THIS FOLDER)/components/header.html
(IGNORE THIS FOLDER)/components/image.png
(IGNORE THIS FOLDER)/components/modal-detail.html
(IGNORE THIS FOLDER)/components/panel-parameters.html
(IGNORE THIS FOLDER)/components/sidebar.html
(IGNORE THIS FOLDER)/debug-sidebar.html
(IGNORE THIS FOLDER)/history.html
(IGNORE THIS FOLDER)/home.html
(IGNORE THIS FOLDER)/index.html
(IGNORE THIS FOLDER)/Login_form_with_firebase-main/background.jpg
(IGNORE THIS FOLDER)/Login_form_with_firebase-main/Login_page.html
(IGNORE THIS FOLDER)/Login_form_with_firebase-main/MMJETBBK.jpg
(IGNORE THIS FOLDER)/Login_form_with_firebase-main/page_style.css
(IGNORE THIS FOLDER)/README.md
(IGNORE THIS FOLDER)/settings.html
(IGNORE THIS FOLDER)/test-sidebar.html
(IGNORE THIS FOLDER)/test-toggle.html
