*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
}
.login_form{
    background: rgba(64,64,64,0.15);
    border: 3px solid rgba(255,255,255,0.3);
    padding: 30px;
    border-radius: 16px;
    backdrop-filter: blur(30px);
    text-align: center;
    color: white;
    width: 400px;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.15);
}
.login_title{
    font-size: 40px;
    margin-bottom: 40px;
}
.input_box{
    margin: 20px 0;
    position: relative;
}
.input_box input{
    width: 100%;
    background-color: rgba(255,255,255,0.1);
    border: none;
    padding: 12px 12px 12px 45px;
    border-radius: 99px;
    outline: 3px solid transparent;
    transition: 0.3s;
    font-size: 17px;
    color: white;
    font-weight: 600;
}
.input_box input::placeholder{
    color: rgba(255,255,255,0.8);
    font-size: 17px;
    font-weight: 500;
}
.input_box input:focus{
    outline: 3px solid rgba(255,255,255,0.3);
}
.input_box input::-ms-reveal{
    filter: invert(100%);
}
.input_box i{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgba(255,255,255,0.8);
}
.remember_forget_box{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 15px;
}
.remember_forget_box label{
    display: flex;
    gap: 8px;
    cursor: pointer;
}
.remember_forget_box input{
    accent-color: #fff;
    cursor: pointer;
}
.remember_forget_box a{
    color: #fff;
    text-decoration: none;
}
.remember_forget_box a:hover{
    text-decoration: underline;
}
.login_btn{
    width: 100%;
    padding: 10px 0;
    background: #2f9cf4;
    border: none;
    border-radius: 100px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
.login_btn:hover{
    background: #0b87ec;
}
.register{
    margin-top: 20px;
    font-size: 15px;
}
.register a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}
.register a:hover{
    text-decoration: underline;
}
.created{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: green;
    margin-top: 26px;
    line-height: 40px;
}
.error{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: red;
    margin-top: 26px;
    line-height: 40px;
}